html {font-size: 18px;}

body {
  font-family: monospace;
  font-weight: 400;
  line-height: 2;
  background: var(--clr-body-bg);
}

p {
  margin-bottom: 1rem;
  color: var(--clr-text);
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--clr-heading);
  border-bottom: 3px solid var(--clr-highlight, #3765AB);
}

.nav-wrapper {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  flex-grow: 1;
  padding: 1rem;
  gap: 1em;
}
.nav-wrapper a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.dark {
  --clr-body-bg: #31312B;
  --clr-text: #ADADAA;
  --clr-highlight: #FBF489;
  --clr-heading: #ADADAA;
}
.svg-menu-icon {
  --clr-highlight: #FFF;
}

:root:has(#dark:checked) {
  --clr-body-bg: #31312B;
  --clr-text: #ADADAA;
  --clr-highlight: #FBF489;
  --clr-heading: #ADADAA;
}