@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400|Inter:900');

html {font-size: 100%;} /*16px*/

body {
  background: #ADADAA;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  line-height: 2;
  color: var(--clr-text);
  background: var(--clr-body-bg)
}

p {margin-bottom: 1rem;}
a {
  font-weight: 600;
  line-height: 2;
  color: var(--clr-highlight, #3765AB);
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  line-height: 1.5;
  color: var(--clr-heading)
}

h1 {font-size: 3.052rem;}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

/* nav styles */

.nav-wrapper {
  --max-width: 55rem;
  width: min(100% - 2rem, var(--max-width));
  margin-inline: auto;
  border: 3px solid #ADADAA;
  display: flex;
  flex-grow: 1;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

.dark {
  --clr-body-bg: #31312B;
  --clr-text: #ADADAA;
  --clr-highlight: #FBF489;
  --clr-heading: #ADADAA;
}

:root:has(#dark:checked) {
  --clr-body-bg: #31312B;
  --clr-text: #ADADAA;
  --clr-highlight: #FBF489;
  --clr-heading: #ADADAA;
}