html {font-size: 18px;}

body {
  font-family: monospace;
  font-weight: 400;
  line-height: 2;
  color: var(--clr-text);
  background: var(--clr-body-bg)
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--clr-heading);
  border-bottom: 3px solid var(--clr-highlight, #3765AB);
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.5rem;
  font-family: monospace;
  font-weight: 900;
  line-height: 1.5;
  color: var(--clr-heading)
}

h1 {font-size: 3.00rem;}

h2 {font-size: 2.5rem;}

h3 {font-size: 2.0rem;}

h4 {font-size: 1.50rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}


.nav-wrapper {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  flex-grow: 1;
  padding: 1rem;
  gap: 1em;
}
.nav-wrapper a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.dark {
  --clr-body-bg: #31312B;
  --clr-text: #ADADAA;
  --clr-highlight: #FBF489;
  --clr-heading: #ADADAA;
}

:root:has(#dark:checked) {
  --clr-body-bg: #31312B;
  --clr-text: #ADADAA;
  --clr-highlight: #FBF489;
  --clr-heading: #ADADAA;
}