---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from "../components/Hero.astro";
import SectionDivider from "../components/SectionDivider.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Home"
---
<BaseLayout pageTitle={pageTitle}>
  <Hero>
    <Header />
    <h1 class="text-3xl md:text-5xl font-extrabold text-yellow-100 pb-6">
      Hi there.
    </h1>
    <p class= "md:w-2/3 font-mono">i run growth experiments at global scale. now making my way through coding (mostly astro and svelte) to unlock new approaches.</p>
    <div class="flex flex-col w-full py-4 md:py-12 md:gap-2">
        <a href="" class="text-xl font-extrabold font-mono text-riso-black-1 hover:underline ">&gt; contact me</a>
        <a href="" class="text-lg font-bold font-mono text-riso-black-2 hover:underline ">&gt;&gt; see my work</a>
    </div>
  </Hero>
  <SectionDivider>
  </SectionDivider>
  <section>
    <div>
      <ul class="text-3xl md:text-5xl font-extrabold pb-6">
        {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} description={post.frontmatter.description}/>)}
      </ul>
    </div>
  </section>
</BaseLayout>