---
import { Icon } from 'astro-icon'
---

<div class="flex items-center grow gap-4">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/rss.xml"><Icon class="svg-menu-icon" name="bi:rss-fill" color="#31312b" width="20" height="20" align="bottom" /></a>
</div>