---
---

<div class="nav-links">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
  <div class="nav-line">
  </div>
<form class="color-picker" action="">
  <legend class="visually-hidden">Pick a color scheme</legend>
  <label for="dark">🌙</label>
  <input type="checkbox" id="dark" name="theme">
</form>
</div>